 <div class="user-details">
  <h1> 👋 Hi! </h1>
  <h3> {{site.user_description}} </h3>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-tailwindcss-original-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
     
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <i class="devicon-rspec-original-wordmark colored"></i>
      <i class="devicon-jest-plain colored"></i>
      <i class="devicon-selenium-original colored"></i>
    </div>
</div>
