<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/app-1.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> E-learning Frontend </h3>
    <p>React app for a mock e-learning site with React, Redux, Jest, Tailwind.</p>
    <a class="project-link" href="https://github.com/yigitm/book-appointment-frontend">GitHub Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/api-doc-1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> E-learning Backend </h3>
    <p>This Rails API with automated API documentation using Rswag and Swagger-UI.</p>
    <a class="project-link" href="https://github.com/yigitm/book-appointment">GitHub Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/app-3.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> UI Scenario for a QA-Assessment </h3>
    <p>This is a UI test assessment for the selenium web driver according to the given user scenario. The website address & company name is removed for public use.</p>
    <a class="project-link" href="https://github.com/yigitm/UI-Scenario-QA-Assessment">GitHub Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/app-4.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Covid-19 Tracking App </h3>
    <p>React & Redux app that users can display & filter global covid-19 stats by country and date base. Narrativa API & Redux are used to store fetched data.</p>
    <a class="project-link" href="https://github.com/yigitm/covid-19-tracking-app">GitHub Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/app-5.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Space Traveler's Hub 🚀 </h3>
    <p>The SpaceX API is used to build a React & Redux app that will allow users to mock book & cancel rocket reservations. State management handled by redux store and duck Pattern used for reducers.</p>
    <a class="project-link" href="https://github.com/yigitm/react-group-project">GitHub Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/app-6.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Spotify Release Tracker </h3>
    <p>My first Rails API related work with Spotify API. Two database model are used (Apicall & Newrelease). New release is used to keep client search requests.</p>
    <a class="project-link" href="https://github.com/yigitm/spotify-release-tracker">GitHub Repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/app-7.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CSS Linter </h3>
    <p>Users can test their own css by adding their css file to "test_files" folder and after installing it to thier local machine, they can use the application from their terminal.</p>
    <a class="project-link" href="https://github.com/yigitm/css-linter">GitHub Repository</a>
  </div>
</div>